@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #212629;
    height: 100vh;
}

.navigation{
    height: 80px;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation h2{
    color: #405196;
    font-weight: 600;
}

.navigation ul{
    display: flex;
}

.navigation ul li{
    list-style: none;
}

.navigation ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    margin-right: 25px;
    transition: color 0.3s ease;
    cursor: pointer;
}

.navigation ul li:hover a{
    color: #405196;
}

.navigation ul li:last-child a{
    margin: 0px;
}

.login-btn{
    background-color: #405196;
    border-radius: 10px;
    padding: 6px 20px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-btn:hover{
    background: #30438f
}

.image{
    align-items: center;
}

.image img{
    opacity: 50%;
    width: 100%;
    height: auto;
}

.image p{
    color: #fff;
    z-index: 1;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}